<template>
  <form @submit.capture.prevent="handleFormSubmit" @reset="resetForm">
    <div class="field">
      <label class="label" for="name">Name</label>
      <div class="control">
        <input v-model="form.name" class="input" type="text" placeholder="Name" name="name" id="name">
      </div>
      <div class="control has-text-right">
        <label class="checkbox">
          <input v-model="form.include.name" type="checkbox" name="include[name]">
          Include
        </label>
      </div>
    </div>

    <div class="field">
      <label class="label" for="entity_type">Entity type</label>
      <div class="control">
        <div class="select is-fullwidth">
          <select v-model="form.entity_type" name="entity_type" id="entity_type">
            <option default selected value="business">Business</option>
            <option value="individual">Individual</option>
          </select>
        </div>
      </div>
      <div class="control has-text-right">
        <label class="checkbox">
          <input v-model="form.include.entity_type" type="checkbox" name="include[entity_type]">
          Include
        </label>
      </div>
    </div>

    <div class="field">
      <label class="label" for="country">Country</label>
      <div class="control">
        <div class="select is-fullwidth">
          <select v-model="form.country" name="country" id="country">
            <option v-for="c in countries" :value="c.code">{{ c.name }}</option>
          </select>
        </div>
      </div>
      <div class="control has-text-right">
        <label class="checkbox">
          <input v-model="form.include.country"type="checkbox" name="include[country]">
          Include
        </label>
      </div>
    </div>

    <div class="field">
      <label class="label" for="address">Address</label>
      <div class="control">
        <input v-model="form.address" class="input" type="text" placeholder="Address" name="address" id="address">
      </div>
      <div class="control has-text-right">
        <label class="checkbox">
          <input v-model="form.include.address" type="checkbox" name="include[address]">
          Include
        </label>
      </div>
    </div>

    <div class="field">
      <label class="label" for="postcode">Postcode</label>
      <div class="control">
        <input v-model="form.postcode" class="input" type="text" placeholder="Postcode" name="postcode" id="postcode">
      </div>
      <div class="control has-text-right">
        <label class="checkbox">
          <input v-model="form.include.postcode" type="checkbox" name="include[postcode]">
          Include
        </label>
      </div>
    </div>

    <div class="field">
      <label class="label" for="email">Email</label>
      <div class="control">
        <input v-model="form.email" class="input" type="email" placeholder="Email" name="email" id="email">
      </div>
      <div class="control has-text-right">
        <label class="checkbox">
          <input v-model="form.include.email" type="checkbox" name="include[email]">
          Include
        </label>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link" type="submit">Submit</button>
      </div>
      <div class="control">
        <button class="button is-text" type="reset">Reset</button>
      </div>
    </div>
  </form>
</template>

<script>

import { Countries } from '~/data/countries.js'
import lodash from 'lodash';

const defaultForm = {
  name: '',
  entity_type: '',
  country: '',
  address: '',
  postcode: '',
  email: '',
  include: {
    name: false,
    entity_type: false,
    country: false,
    address: false,
    postcode: false,
    email: false
  }
}

export default {
  data() {
    return {
      countries: Countries,
      form: lodash.cloneDeep(defaultForm)
    }
  },
  methods: {
    handleFormSubmit() {
      this.$store.commit('submit', this.form);

      this.$router.push({
          path: '/submitted'
      })
    },
    resetForm() {
      this.$set(this, 'form', lodash.cloneDeep(defaultForm))
    }
  }
}

</script>