<template>
  <div>
    <div class="columns">
      <div class="column">
        <p>Name: {{ form.name }}</p>
      </div>
      <div class="column is-one-fifth has-text-right">
        <p v-if="form.include.name">Incl.</p>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <p>Entity type: {{ form.entity_type }}</p>
      </div>
      <div class="column is-one-fifth has-text-right">
        <p v-if="form.include.entity_type">Incl.</p>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <p>Country: {{ form.country }}</p>
      </div>
      <div class="column is-one-fifth has-text-right">
        <p v-if="form.include.country">Incl.</p>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <p>Address: {{ form.address }}</p>
      </div>
      <div class="column is-one-fifth has-text-right">
        <p v-if="form.include.address">Incl.</p>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <p>Postcode: {{ form.postcode }}</p>
      </div>
      <div class="column is-one-fifth has-text-right">
        <p v-if="form.include.postcode">Incl.</p>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <p>Email: {{ form.email }}</p>
      </div>
      <div class="column is-one-fifth has-text-right">
        <p v-if="form.include.email">Incl.</p>
      </div>
    </div>

    <form @reset="clear">
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" type="reset">Reset</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>

export default {
  computed: {
    form() {
      return this.$store.state.form
    }
  },
  methods: {
    clear() {
      this.$store.commit('clear');

      this.$router.push({
          path: '/'
      })
    }
  }
}

</script>