<template>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <h1 class="title">Your shared details</h1>
          <hr>

          <SubmittedResults />
        </div>
      </div>
    </div>
  </section>
</template>

<script>

import SubmittedResults from '~/components/SubmittedResults.vue'

export default {
  components: {
    SubmittedResults
  }
}

</script>
